In [ ]:
import pandas as pd
import math
dat_1 = pd.read_csv("2019-1.csv")
dat_2 = pd.read_csv("2019-2.csv")
dat_3 = pd.read_csv("2019-3.csv")

In [ ]:
## refining the data file into the required data and modifying it to load into the SQL tables.

dat_1[["co-ordinates","long","lat"]]= dat_1["store_location"].str.split(" ",expand = True)
dat_1[["brac","long"]]= dat_1["long"].str.split("(",expand = True)
dat_1[["lat","brack"]]= dat_1["lat"].str.split(")",expand = True)
dat_1[["invoice","item_number"]] = dat_1["invoice_and_item_number"].str.split(" ",expand=True)
d1=dat_1.drop(columns=['brac','co-ordinates','brack','store_location','invoice','item_number',
                       'county_number','county','bottle_volume_ml','state_bottle_cost','volume_sold_liters',
                       'volume_sold_gallons','category_name','address','city','vendor_name','item_description',
                       'store_name','address'])
for i in range (0,len(d1.columns)):
    d1.dropna(subset=[sorted(d1)[i]],inplace=True)

d1 = d1.rename(columns={'date':'data_date','long':'longi'}) #changing the sql default variables

In [ ]:
## refining the data file into the required data and modifying it to load into the SQL tables.
dat_2[["co-ordinates","long","lat"]]= dat_2["store_location"].str.split(" ",expand = True)
dat_2[["brac","long"]]= dat_2["long"].str.split("(",expand = True)
dat_2[["lat","brack"]]= dat_2["lat"].str.split(")",expand = True)
dat_2[["invoice","item_number"]] = dat_1["invoice_and_item_number"].str.split(" ",expand=True)
d2=dat_2.drop(columns=['brac','co-ordinates','brack','store_location','invoice_and_item_number',
                       'county_number','county','bottle_volume_ml','state_bottle_cost','volume_sold_liters',
                       'volume_sold_gallons','category_name','address','city','vendor_name','item_description',
                       'store_name','address'])
for i in range (0,len(d2.columns)):
    d2.dropna(subset=[sorted(d2)[i]],inplace=True)

d2 = d2.rename(columns={'date':'data_date','long':'longi'})  #changing the sql default variables

In [ ]:
## refining the data file into the required data and modifying it to load into the SQL tables.
dat_3[["co-ordinates","long","lat"]]= dat_3["store_location"].str.split(" ",expand = True)
dat_3[["brac","long"]]= dat_3["long"].str.split("(",expand = True)
dat_3[["lat","brack"]]= dat_3["lat"].str.split(")",expand = True)
dat_3[["invoice","item_number"]] = dat_1["invoice_and_item_number"].str.split(" ",expand=True)
d3=dat_3.drop(columns=['brac','co-ordinates','brack','store_location','invoice_and_item_number',
                       'county_number','county','bottle_volume_ml','state_bottle_cost','volume_sold_liters',
                       'volume_sold_gallons','category_name','address','city','vendor_name','item_description',
                       'store_name','address'])
for i in range (0,len(d3.columns)):
    d3.dropna(subset=[sorted(d3)[i]],inplace=True)

d3 = d3.rename(columns={'date':'data_date','long':'longi'})  #changing the sql default variables

In [ ]:
c=d1.append(d2, ignore_index=True)
cross = c.append(d3, ignore_index=True)  # combining all the data frames to one and writing into a file
cross.to_csv("2019_data.csv",index = False)

In [ ]:
### normalization the data.
## getting the unique values for the dealer,botteles, there capacity and location

dat_4 = dat_1.append(dat_2,ignore_index=True)
dat_5 = dat_4.append(dat_3,ignore_index=True)
for i in range (0,len(dat_5.columns)):
    dat_5.drop_duplicates(subset=[sorted(dat_5)[i]],inplace=True)
    
    
store = dat_5.loc[:,["store_number","store_name"]]
items = dat_5.loc[:,["item_number","item_description","bottle_volume_ml"]]
category = dat_5.loc[:,["category","category_name"]]
co_ordinates = dat_5.loc[:,["longi","lat"]]

store.to_csv["stores.csv",index=False]
items.to_csv["items.csv",index=False]
category.to_csv["category.csv",index=False]
co_ordinates.to_csv["co_ordinates.csv",index=False]

In [ ]:
#converting the co-ordinates from spherical co-ordinates to 2-d co-ordinates by projection method

def cartesian(longitude,latitude):
   # relative to centre of the earth r = 6378137#
    X = 6378137.0* math.cos(longitude*math.pi/180) * math.sin(latitude*math.pi/180)
    Y = 6378137.0* math.sin(longitude*math.pi/180) * math.sin(latitude*math.pi/180)  
    return X,Y

co_or = pd.read_csv("co-ordinates.csv")

locations=[]
for i in range(1,len(co_or)):
    X,Y = cartesian(co_or.iat[i,0],co_or.iat[i,1])
    locations.append([X,Y])

df= pd.DataFrame(locations)
df.to_csv("XY-Values.csv",index=True)